<div class="row">
  <li id="blog-<%= blog.id %>">
    <%= link_to blog.user, class: "col-sm-3" do %>
      <%= image_tag blog.user.gravatar_url, class: "avata-custom2" %>
      <span><%= blog.user.name %></span>
      <span class="timestamp"><%= time_ago_in_words blog.created_at %></span>
    <% end %>
    <div class="col-sm-7" style="border: 1px solid #e8e8e8">
      <span class="title"><%= blog.title %></span>
      <span class="content"><%= blog.content %></span>
    </div>
    <div class="col-sm-2">
      <% if current_user == blog.user %>
        <%= link_to t(".delete"), blog, method: :delete,
          data: {confirm: t(".you_sure")} %>
      <% end %>
    </div>
  </li>
  
    <div id="load_comment-<%= blog.id %>" class="col-sm-8 col-sm-ofset-2 load_comment1">
      <%= render "comments/comment", blog: blog %>
    </div>
    <% if logged_in? && current_user.following?(blog.user) || (current_user == blog.user) %>
      <div id="comment_form" class="col-sm-12">
        <%= render "comments/form", blog: blog, user: blog.user %>
      </div>
    <% end %>
</div>
