<% provide :title, @user.name %>
<% if current_user == @user %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="blog_form">
        <%= render "shared/blog_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Blog Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= image_tag @user.gravatar_url, alt: @user.name %>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
  </aside>
    </aside>
    <div class="col-md-8">
      <%= render "follow_form" if logged_in? %>
      <% if @user.blogs.any? %>
        <h3>blogs (<%= @user.blogs.count %>)</h3>
        <ol class="blogs">
          <%= render @blogs %>
        </ol>
        <%= will_paginate @blogs %>
      <% end %>
    </div>
  </div>
<% end %>
