<%= form_for @blog do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: t(".title") %>
    <%= f.text_area :content, placeholder: t(".content") %>
  </div>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
<% end %>
